*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}


.header {
    background-color: rgb(45, 48, 58);
    height: 90px;
    border-bottom: 5px solid #323746;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}

.navigation li{
    list-style: none;
    font-weight: bold;
}

.logo{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
    color: #dfdfe0;
}

.logo span{
    color: rgb(240, 108, 100);
    font-size: 25px;
    line-height: 90px;
}


.nav-bar{
    line-height: 90px;
}

.navigation li {
    font-size: 18px;
    margin-right: 20px;
    position: relative;
}

.navigation li:after{
    content: " ";
    position: absolute;
    right: -10px;
    top:50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    background-color: #44495b;
}

.navigation li:last-child:after{
    display: none;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    color: #dfdfe0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation a:hover {
    color: rgb(240, 108, 100);
    transition-duration: 700ms;
    transition-property: color;
    cursor: pointer;
}

.navigation .active a {
    color: rgb(240, 108, 100);
}


.slider{
    background-color: rgb(240, 108, 100);
    height: 600px;
}

.hero-slider{
    height: 600px;
    position: relative;
}

.hero-navigation .prev{
    position: absolute;
    left: 0;
    top: 50%;
}
.hero-navigation .prev:hover, .hero-navigation .next:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.hero-navigation .next{
    position: absolute;
    right: 0;
    top: 50%;
}

.hero-content .phone-left{
    position: absolute;
    left: 70px;
    top: 50px;
    -webkit-box-shadow: 11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    -moz-box-shadow:    11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    box-shadow:         11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    border-radius: 25px;
}
.hero-content .phone-right{
    position: absolute;
    right: 95px;
    top: 170px;
    -webkit-box-shadow: 11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    -moz-box-shadow:    11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    box-shadow:         11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    border-radius: 25px;
}
