*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 40px;
}


.header {
    background-color: rgb(45, 48, 58);
    height: 90px;
    border-bottom: 6px solid #323746;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}

.logo{
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
}

.logo span{
    color: rgb(240, 108, 100);
    font-size: 25px;
    line-height: 90px;
}

.logo h1{
    display: inline-block;
    font-family: 'Lato Bold', sans-serif;
    letter-spacing: -0.01em;
}

.nav-bar{
    line-height: 103px;
}

.navigation li {
    font-size: 12px;
    list-style: none;
    position: relative;
    padding-right: 29px;
}

.navigation li:last-child {
    padding: 0;
}

.navigation li:after{
    content: " ";
    position: absolute;
    right: -17px;
    top: 48%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: block;
    background-color: #44495b;
}

.navigation li:last-child:after{
    display: none;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    color: #dfdfe0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lato Bold', sans-serif;
}

.navigation a:hover {
    color: rgb(240, 108, 100);
    transition-duration: 700ms;
    transition-property: color;
    cursor: pointer;
}

.navigation .active a {
    color: rgb(240, 108, 100);
}

.slider{
    background-color: rgb(240, 108, 100);
    height: 595px;
    border-bottom: 5px solid #ea676b;
}

.hero-slider{
    height: 600px;
    position: relative;
}

.hero-navigation .prev{
    position: absolute;
    left: 0;
    top: 47%;
}
.hero-navigation .prev:hover, .hero-navigation .next:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.hero-navigation .next{
    position: absolute;
    right: 0;
    top: 47%;
}

.hero-content .phone-left{
    position: absolute;
    left: 72px;
    top: 53px;
    -webkit-box-shadow: 11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    -moz-box-shadow:    11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    box-shadow:         11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    border-radius: 25px;
}
.hero-content .phone-right{
    position: absolute;
    right: 97px;
    top: 174px;
    -webkit-box-shadow: 11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    -moz-box-shadow:    11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    box-shadow:         11px 11px 9px 0px rgba(48, 50, 50, 0.49);
    border-radius: 25px;
}
.our-service{
    background-color: rgb(242, 242, 242);
    padding-top: 62px;
    padding-bottom: 29px;
    border-bottom: 6px solid rgb(255, 255, 255);
}

.section-title{
    margin-bottom: 46px;
    overflow: hidden;
}

.our-service h2{
    font-size: 30px;
    color: rgb(102, 109, 137);
    text-transform: capitalize;
    letter-spacing: -0.2px;
    font-family: 'Lato Black', sans-serif;
    overflow: hidden;
}

.our-service p{
    font-size: 18px;
    color: rgb(118, 126, 158);
    line-height: 1.6;
    margin-top: 19px;
    word-spacing: -1.5px;
    text-align: justify;
    font-family: 'Lato Light', sans-serif;
    overflow: hidden;
}

.service-item{
    max-width: 301px;
    min-width: 280px;
    display: flex;
    font-family: 'Lato Black', sans-serif;
    color: rgb(118, 126, 158);
    overflow: hidden;
}
.service-item img{
    width: 60px;
    height: 60px;
}

.item-content{
    min-width: 220px;
    margin: 0 20px;
    overflow: hidden;
}

.service-item p {
    margin-top: 7px;
    line-height: 22px;
    text-align: justify;
    font-family: 'Lato Regular', sans-serif;
    overflow: hidden;
}

.layout-3-column{
    display: flex;
    justify-content: space-between;
}

.row{
    margin-bottom: 31px;
}


.item-content p{
    font-size: 12px;
    margin-top: 4px;
}

h3 {
    font-size: 18px;
}

.portfolio{
    background-color: rgb(45, 48, 58);
    padding-top: 62px;
    padding-bottom: 33px;
    border-bottom: 6px solid rgb(50, 55, 70);
}

.portfolio .section-title{
    margin-bottom: 10px;
}

.portfolio h2{
    font-size: 30px;
    color: rgb(102, 109, 137);
    text-transform: capitalize;
    letter-spacing: -0.2px;
    font-family: 'Lato Black', sans-serif;
}

.portfolio p{
    font-size: 18px;
    color: rgb(118, 126, 158);
    line-height: 1.6;
    margin-top: 19px;
    word-spacing: -1.5px;
    text-align: justify;
    font-family: 'Lato Light', sans-serif;
}

.layout-4-column{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row{
    margin-bottom: 31px;
}

.tags{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.tags li{
    list-style: none;
    font-size: 12px;
    color: rgb(118, 126, 158);
    border: 1px solid rgb(102, 109, 137);
    border-radius: 6px;
    margin-right: 10px;
    padding: 3px 7px;
    min-width: 14px;
    letter-spacing: -0.21px;
    transition-duration: 700ms;
    transition-property: all;
    cursor: pointer;
}
.tags li:hover{
    color: rgb(222, 222, 222);
    border: 1px solid rgb(222, 222, 222);
    transition-duration: 700ms;
    transition-property: all;
    cursor: pointer;
}

.tags li.active {
    color: rgb(222, 222, 222);
    border: 1px solid rgb(222, 222, 222);
}

.portfolio-item{
    margin-top: 18px;
    margin-bottom: -1px;
    opacity: 1;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}


.portfolio-item:nth-child(13n){
    display: none;
}

.portfolio-item:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.our-team{
    background-color: rgb(242, 242, 242);
    padding-top: 62px;
    padding-bottom: 33px;
    border-bottom: 6px solid rgb(255, 255, 255);
}

.our-team .section-title{
    margin-bottom: 46px;
}

.our-team h2{
    font-size: 30px;
    color: rgb(102, 109, 137);
    text-transform: capitalize;
    letter-spacing: -0.2px;
    font-family: 'Lato Black', sans-serif;
}

.our-team p{
    font-size: 18px;
    color: rgb(118, 126, 158);
    line-height: 1.6;
    margin-top: 19px;
    word-spacing: -1.5px;
    text-align: justify;
    font-family: 'Lato Light', sans-serif;
}

.our-team .team-item{
    max-width: 301px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato Black', sans-serif;
    color: rgb(118, 126, 158);
}
.team-item img{
    width: 300px;
    height: 300px;
    opacity: 1;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.team-item img:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.team-item .item-content{
    margin-top: 16px;
    min-width: 220px;
    margin-left: 0;
}

.team-item .team-item p {
    margin-top: 7px;
    line-height: 22px;
    text-align: justify;
    font-family: 'Lato Regular', sans-serif;
}

.layout-3-column{
    display: flex;
    justify-content: space-between;
}

.row{
    margin-bottom: 31px;
}


.team-item .item-content p{
    font-size: 12px;
    margin-top: 6px;
}

h3 {
    font-size: 18px;
}

.team-item .social{
    margin-top: 26px;
}

.team-item .social-items{
    display: flex;
    justify-content: start;
}

.team-item .social-items li{
    list-style: none;
    margin-right: 8px;
}

.team-item .social img{
    width: 32px;
    height: 32px;
    opacity: 1;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.team-item .social img:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}



.get-quote{
    background-color: rgb(240, 108, 100);
    padding-top: 62px;
    padding-bottom: 4px;
    border-bottom: 6px solid rgb(234, 103, 107);
}

.get-quote .section-title{
    margin-bottom: 43px;
}

.get-quote h2{
    font-size: 30px;
    color: rgb(240, 216, 217);
    letter-spacing: -0.2px;
    font-family: 'Lato Black', sans-serif;
}

.get-quote p{
    font-size: 18px;
    color: rgb(240, 216, 217);
    line-height: 1.6;
    margin-top: 19px;
    word-spacing: -1.5px;
    text-align: justify;
    font-family: 'Lato Light', sans-serif;
}

.contacts{
    display: flex;
    justify-content: space-between;
}

.contact-form{
    max-width: 66%;
    min-width: 66%;
    margin-right: 20px;
}

.contact-information{
    max-width: 34%;
    letter-spacing: 0.2px;
}

form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input{
    min-height: 38px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: rgb(214, 86, 79);
    border: none;
}

textarea{
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(214, 86, 79);
    border: none;
    min-height: 180px;
}

input[placeholder]  {
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
    letter-spacing: 0.6px;
}


textarea[placeholder]  {
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    padding-top: 11px;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
    letter-spacing: 0.6px;
}


footer {
    background-color: rgb(45, 48, 58);
}

footer .wrapper{
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social .social-items{
    display: flex;
    justify-content: start;
    padding-top: 5px;
}

.footer-social .social-items li{
    list-style: none;
    margin-left: 8px;
}

.footer-social img{
    width: 32px;
    height: 32px;
    opacity: 1;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.footer-social img:hover{
    opacity: 0.5;
    transition-duration: 700ms;
    transition-property: opacity;
    cursor: pointer;
}

.contact-information{
    list-style: none;
}

.contact-information h4{
    color: rgb(240, 216, 217);
    text-align: left;
    font-size: 18px;
}

.contact-information p {
    font-size: 12px;
    color: rgb(240, 216, 217);
    line-height: 21.56px;
    margin-top: 9px;
    word-spacing: -1.5px;
    text-align: justify;
    font-family: 'Lato Light', sans-serif;
}

.contact-information a {
    font-size: 12px;
    color: rgb(240, 216, 217);
    line-height: 1.797;
    text-align: left;
    margin-left: 11px;
    text-decoration: none;
}

.ul {
    margin-top: 20px;
}

::-webkit-input-placeholder {
    font-size: 12px;
    text-align: left;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
}
::-moz-placeholder{
    font-size: 12px;
    text-align: left;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
}/* Firefox 19+ */
:-moz-placeholder{
    font-size: 12px;
    text-align: left;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
}/* Firefox 18- */
:-ms-input-placeholder{
    font-size: 12px;
    text-align: left;
    color: #f48c8f;
    line-height: 1.6;
    word-spacing: -1.5px;
    font-family: 'Lato Light', sans-serif;
}

button{
    background: rgb(240, 216, 217);
    max-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    border: none;
    color: rgb(214, 86, 79);
    transition-duration: 700ms;
    transition-property: all;
}

button:hover{
    background: rgb(214, 86, 79);
    border: 1px solid rgb(240, 216, 217);
    color: rgb(240, 216, 217);
    cursor: pointer;
    transition-duration: 700ms;
    transition-property: all;
}

.copyright p {
    color: #666d89;
    font-size: 12px;
    letter-spacing: 0.05px;
}

